@import "tailwindcss";

body {
  margin: 0;
  background-color: #f8fafc; /* Forcing a clean, light slate background globally */
  color: #0f172a;            /* Forcing clear dark slate text globally */
}